{% extends 'base.html' %}
{% load static %}

{% block center %}
<div class="row main-body p-2">
  <div class="col">
    <div class="mb-3">
      <h1 class="text-center">Условия использования сайта BrewingNotes.ru</h1>
    </div>
    <div>
      <h3>1. Термины и определения</h3>
      <div class="p-2">
        <p><b>BrewingNotes (далее также Сайт)</b> — Интернет-сайт, расположенный в сети Интернет по адресу: www.brewingnotes.ru (brewingnotes.ru), а также на всех субдоменах, относящихся к данному адресу, представляющий собой совокупность программного обеспечения Сайта, дизайна (графического оформления) Сайта, Баз данных, любого раздела (подраздела) Сайта, а также Информации, размещенной (размещаемой) на Сайте Администрацией Сайта и Пользователями Сайта.</p>
        <p><b>Правила (далее также Условия)</b> — настоящие Правила использования веб-сайта BrewingNotes.</p>
        <p><b>Администрация Сайта (далее также Администрация)</b> — владелец Сайта, которому принадлежат все соответствующие имущественные права на Сайт, включая исключительные права на доменное имя Сайта, а также уполномоченные на управление Сайтом владельцем Сайта сотрудники, осуществляющие его администрирование.</p>
        <p><b>Пользователь</b> — любое физическое или юридическое лицо, которое использует услуги и сервисы, предоставляемые сайтом BrewingNotes.</p>
        <p><b>Персональные данные</b> — любая личная информация, связанная с Пользователем.</p>
        <p><b>Обработка</b> — сбор, хранение, изменение, предоставление доступа, передача персональных данных Пользователя.</p>
        <p><b>Информация</b> — информационные материалы: текст, фотографии (изображения), документы, видео, ссылки на другие сайты и прочие другие материалы которые загружает Пользователь на BrewingNotes.</p>
        <p><b>Учётная запись</b> - хранимая в компьютерной системе совокупность данных о пользователе, необходимая для его опознавания (аутентификации) и предоставления доступа к его данным и настройкам на BrewingNotes.</p>
        <p><b>Логин</b> — Login, он же NickName, оно же «Имя пользователя» - идентификатор Учётной записи Пользователя на BrewingNotes.</p>
        <p><b>Аватар</b> - фотография или другая графическая картинка, использующаяся в Учётной записи Пользователя для идентификации личности, его самовыражения, облегчения запоминания человека и поиск хозяина аккаунта.</p>
        <p></p>
      </div>
    </div>
    <div>
      <h3>2. Общие положения</h3>
      <div class="p-2">
        <p>2.1 <b>Администрация</b> сайта предоставляет <b>Пользователю</b> доступ к использованию <b>BrewingNotes</b> на условиях, изложенных в настоящих <b>Правилах</b>.</p>
        <p>2.2 <b>Пользователь</b> обязан полностью ознакомиться с настоящими <b>Правилам</b> до начала использования <b>BrewingNotes</b> или перед регистрации. Факт любого использования Сайта, в том числе простой просмотр <b>Сайта</b>, означает полное и безоговорочное принятие <b>Пользователем</b> настоящих <b>Правил</b>.</p>
        <p>2.3 <b>Правила</b> распространяются на всех посетителей, пользователей и других лиц, которые получают доступ к <b>BrewingNotes</b> или используют его.</p>
        <p>2.4 <b>BrewingNotes</b> позволяет <b>Пользователям</b> публиковать, хранить, делиться и иным образом предоставлять определенную <b>Информацию</b>.</p>
        <p>2.5 Настоящие <b>Правила</b> могут быть изменены и/или дополнены <b>Администрацией</b> Сайта в одностороннем порядке без какого-либо специального уведомления. Новая редакция <b>Правил</b> вступает в силу с момента ее размещения на <b>BrewingNotes</b>, если иное не предусмотрено новой редакцией <b>Правил</b>. Продолжение использования <b>Сайта</b> Пользователем после внесения изменений и/или дополнений в настоящие <b>Правила</b> означает принятие и согласие <b>Пользователя</b> с такими изменениями и/или дополнениями.</p>
        <p>2.6 В случае несогласия <b>Пользователя</b> с настоящими <b>Правилами</b> или его изменениями/дополнениями, <b>Пользователь</b> обязан отказаться от использования <b>Сайта</b>.</p>
      </div>
    </div>
    <div>
      <h3>3. Ограничение ответственности и гарантий</h3>
      <div class="p-2">
        <p>3.1 <b>Администрация</b> cайта не гарантирует корректность, достоверность и полноту размещаемой (размещенной) информации на <b>Сайте Пользователем</b>. Вся ответственность за последствия в связи с использованием <b>Сайта</b> возлагается на <b>Пользователя</b>.</p>
        <p>3.2 <b>Администрация</b> cайта не несет ответственности за посещение и/или использование <b>Пользователем</b> внешних ресурсов, ссылки на которые могут содержаться на <b>BrewingNotes</b>.</p>
        <p>3.3 <b>Администрация</b> cайта прилагает все усилия, но не гарантирует постоянное и бесперебойное функционирование <b>BrewingNotes</b>.</p>
        <p>3.4 <b>Администрация</b> cайта не несет ответственности ни за какие сбои, задержки и иную неверную работу <b>BrewingNotes</b>.</p>
        <p>3.5 <b>Администрация</b> cайта имеет право в любой период времени менять внешний вид <b>Сайта</b>, его содержание, контент, функционал, изменять и (или) дополнять используемые скрипты, программное обеспечение и другие объекты используемые или хранящиеся на <b>Сайте</b>, любые серверные приложения и дополнения в любое время с предварительным уведомлением или без такового <b>Пользователя</b>.</p>
        <p>3.6 Вид, форма, способ предоставления <b>Пользователю</b> доступа к использованию <b>Сайта</b> может изменяться, и <b>Администрация</b> cайта оставляет за собой право не уведомлять <b>Пользователя</b> о планируемых или проведенных изменениях.</p>
        <p>3.7 Ни при каких обстоятельствах <b>Администрация</b> cайта или ее представители не несут ответственность перед <b>Пользователем</b> или перед любыми третьими лицами за любой косвенный, случайный, неумышленный ущерб, включая упущенную выгоду или потерянные данные, вред чести, достоинству или деловой репутации, вызванный в связи с использованием <b>Сайта</b>, содержимого <b>Сайта</b> или иных материалов, к которым <b>Пользователь</b> или иные лица получили доступ с помощью <b>Сайта</b>, даже если Администрация предупреждала или указывала на возможность такого вреда.</p>
        <p>3.8 <b>Администрация</b> cайта не несет ответственности за нарушение <b>Пользователем</b> авторских прав, прав на гласность и других прав, а так же за размещенную <b>Пользователем Информацию</b> на <b>BrewingNotes</b>.</p>
      </div>
    </div>
    <div>
      <h3>4. Обязанности Пользователя</h3>
      <div class="p-2">
        <h4>Принимая условия настоящих Правил, Пользователь Сайта обязуется:</h4>
        <p>4.1. Соблюдать положения действующего законодательства Российской Федерации и настоящих <b>Правил</b>.</p>
        <p>4.2. Не оставлять на <b>Сайте</b> комментарии, сообщения и иные записи, противоречащие требованиям законодательства Российской Федерации и общепринятых норм морали и нравственности.</p>
        <p>4.3. Не размещать на <b>Сайте</b> информацию (включая персональную информацию других лиц) и объекты (включая ссылки на них), которые могут нарушать права и интересы других лиц.</p>
        <p>4.4. Не предоставлять другим <b>Пользователям</b> и третьим лицам ставшие ему известными в результате общения с другими <b>Пользователями</b> и иного использования <b>Сайта</b> персональные данные и информацию о частной жизни других <b>Пользователей</b> и третьих лиц без получения соответствующего предварительного разрешения последних.</p>
        <p>4.5. Не выполнять действий, которые могут привести к нарушению нормальной работы <b>Сайта</b> и сервисов <b>Сайта</b>, включая действия: причиняющие ущерб оборудованию <b>Администрации</b>, приводящие к сложностям в использовании <b>Сайта</b> другими <b>Пользователями</b>, ущербу персональных данных <b>Пользователей</b>.</p>
      </div>
    </div>
    <div>
      <h3>5. Использования веб-сайта BrewingNotes</h3>
      <h4>5.1. Регистрация</h4>
      <div class="p-2">
        <p>5.1.1 Регистрируясь на <b>BrewingNotes Пользователь</b> обязуется не разглашать свой пароль третьим лицам.</p>
        <p>5.1.2 <b>Пользователь</b> обязуется немедленно уведомить <b>Администрацию</b>, если ему станет известно о любом нарушении безопасности или несанкционированном использовании <b>Учетной записи</b>.</p>
        <p>5.1.3 <b>Пользователь</b> несёт ответственность за защиту своих регистрационных данных, которые используются для доступа к <b>BrewingNotes</b>, а также за любые действия совершенные третьими лицами использующие регистрационные данные <b>Пользователя</b>.</p>
        <p>5.1.4 Запрещается регистрация и/или использование двух и более <b>Учётных записей</b> одним <b>Пользователем</b> по любым причинам, особенно в случае блокировки (Наказания) вашего <b>Логина</b>. В случае выявления подобных <b>Учётных записей</b> они будут блокироваться без предупреждения. Нарушение этого правила карается Наказанием всех <b>Учетных записей Пользователя</b>.</p>
        <p>5.1.5 Запрещается регистрация двойника существующего <b>Логина</b>, т. е. <b>Логин</b>, который является полным или частичным визуальным дублем уже существующего (в том числе полученных путём замены русских букв латинскими со схожим написанием и наоборот). В случае выявления такого <b>Логина</b> он может быть заблокирован по просьбе владельца оригинального имени.</p>
        <p>5.1.6 Логины, которые запрещенные к регистрации:</p>
        <ul>
          <li>вульгарные, грубые, оскорбительные, непристойные или нецензурные выражения, а также призывы к насилию и нарушению законодательства (на любом языке и в любом виде);</li>
          <li>адреса web-сайтов, любые контактные данные: телефонные номера, e-mail, ICQ и т. д., а также сочетания символов, которые могут быть расценены как такие данные;</li>
          <li>явную или скрытую рекламу;</li>
          <li>торговую марку/бренд без согласования с <b>Администрацией</b> сайта, а так же принадлежащею другому физическому или юридическому лицу, без соответствующего разрешения владельца торговой марки/бренда;</li>
        </ul>
      </div>
      <h4>5.2 Размещение Информации на BrewingNotes</h4>
      <div class="p-2">
        <p>5.2.1 <b>Пользователь</b> несёт ответственность за <b>Информацию</b>, которую публикует на <b>BrewingNotes</b>, включая её законность, надежность и уместность.</p>
        <p>5.2.2 Размещая <b>Информацию</b> на  <b>BrewingNotes Пользователь</b> несёт ответственность и гарантирует, что не нарушает авторские права, права на гласность, а так же неприкосновенность частной жизни.</p>
        <p>5.2.3 Запрещается загружать, дублировать <b>Аватар</b> другого <b>Пользователя</b>. В случае выявления такого <b>Аватара</b> он может быть удалён по просьбе владельца оригинального <b>Аватара</b>. Старайтесь использовать оригинальные изображения в качестве <b>Аватара</b>, они помогают быстрее находить и идентифицировать <b>Пользователя</b> на сайте</p>
        <p>5.2.4 Запрещается загружать на <b>BrewingNotes Информацию</b> содержащую:</p>
        <ul>
          <li>вульгарные, грубые, оскорбительные, непристойные или нецензурные выражения и изображения, а также призывы к насилию и нарушению законодательства (на любом языке и в любом виде);</li>
          <li>адреса web-сайтов, любые контактные данные: телефонные номера, e-mail, ICQ и т.д., а также сочетания символов, которые могут быть расценены как такие данные;</li>
          <li>явную или скрытую рекламу;</li>
          <li>любые QR-коды;</li>
          <li>торговую марку/бренд без согласования с <b>Администрацией</b> сайта, а так же принадлежащею другому физическому или юридическому лицу, без соответствующего разрешения владельца торговой марки/бренда;</li>
        </ul>
        <p>5.2.5 Размещая <b>Информацию</b> на <b>BrewingNotes</b>, <b>Пользователь</b> предоставляет <b>Администрации</b> право/лицензию на использование, изменение, публичное исполнение, публичное отображение, воспроизведение и распространение <b>Информации</b>.</p>
      </div>
      <h4>5.3 Общие правила работы с рецептами на <b>BrewingNotes</b></h4>
      <div class="p-2">
        <p>5.3.1 Все созданные рецепты <b>Пользователя</b> изначально имеют статус «Черновиков». Количество возможных «Черновиков» у <b>Пользователя</b> может меняться.</p>
        <p>5.3.2 <b>Пользователь</b> может создать лишь определенное количество рецептов «Черновиков». Количество возможных «Черновиков» у <b>Пользователя</b> может меняться.</p>
        <p>5.3.3 Чтобы освободить место для новых рецептов <b>Пользователю</b> необходимо либо удалить рецепты «Черновиков», либо Опубликовать в общий доступ.</p>
        <p>5.3.4 При Опубликовании рецепта, рецепт становится «Народным достоянием» открытым для всеобщего обозрения.</p>
        <p>5.3.5 Опубликованный рецепт <b>Пользователь</b> не сможет внести правки (редактировать) или удалить.</p>
        <p>5.3.6 На <b>BrewingNotes</b> действует система публикации рецептов с премодерацией.</p>
        <p>5.3.7 Не соответствующим правилам публикации Рецептам отказывается в публикации с обязательной отправкой сообщения <b>Пользователю</b> с причиной отказа и найденных ошибках в рецепте.</p>
        <p>5.3.8 При удалении или блокировки (наказания) <b>Пользователя</b>, удаляются все его рецепты без возможности восстановления, кроме опубликованных. В опубликованных рецептах <b>Пользователя</b> меняется имя автора на стандартное и они остаются в общественном доступе.</p>
      </div>
    </div>
    <div>
      <h4>5.4 Правила публикации рецептов на Сайте</h4>
      <div class="p-2">
        <p>5.4.1 К публикации принимаются полностью заполненные, проверенные, реальные рецепты пива.</p>
        <p>5.4.2 Название рецепта должно начинаться с заглавной буквы.</p>
        <p>5.4.3 Название рецепта должно быть максимально информативным и характеризовать сам рецепт и задумку автора (адекватным и без больной фантазии).</p>
        <p>5.4.4 Не допускаются названия рецептов содержащие:</p>
        <ul>
          <li>вульгарные, грубые, оскорбительные, непристойные или нецензурные выражения, а также призывы к насилию и нарушению законодательства (на любом языке и в любом виде);</li>
          <li>только из цифры и числа;</li>
          <li>случайный или тяжело читаемый набор цифр, букв или символов;</li>
          <li>адреса web-сайтов, любые контактные данные: телефонные номера, e-mail, ICQ и т.д., а также сочетания символов, которые могут быть расценены как такие данные;</li>
          <li>повторяющие название стиля или категории стилей;</li>
          <li>словосочетания или слова, которые не характеризуют сам рецепт: тест, моя первая варка, рецепт №.. и т.д.;</li>
          <li>одно простое слово («Пшеничное», «Тёмное» и т.д.);</li>
        </ul>
        <p>5.4.5 Рецепт должен содержать фотографию сваренного пива по данному рецепту.</p>
        <p>5.4.6 Фотография результата пива должна быть чёткая в чистом прозрачном бокале желательно без надписей и изображений, при хорошем освещении. Позвольте другим <b>Пользователям</b> оценить результат Вашей варки (цвет, прозрачность и т.д.), а не название бренда или картинку.</p>
        <p>5.4.7 Описание рецепта должно содержать не меньше одного предложения. Попытайтесь подробнее описать свой рецепт.</p>
        <p>5.4.8 Если есть сомнения при определении стиля или рецепт сильно расходится с опорным стилем, можно поле «Стиль» оставить пустым. Тогда рецепту автоматически присвоится категория «Особое пиво».</p>
      </div>
    </div>
    <div>
      <h3>Правила обработки персональных данных</h3>
      <div class="p-2">
        <p><b>BrewingNotes</b> не занимается <b>Обработкой Персональных</b> данных <b>Пользователя</b>.</p>
        <p>Электронная почта (Email) <b>Пользователя</b> - это единственная необходимая информация для регистрации <b>Пользователя</b> на сайте и возможность для <b>Пользователя</b> в будущем восстановить доступ к своей Учетной записи при утери пароля.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}