<div class="row main-body mt-3 p-4">
  <div class="col">
    <h1 class="text-center mb-4">Добро пожаловать на Brewing&nbsp;Notes! </h1>
    <p class="">Сайт создан в помощь пивовару.</p>
    <p class="">Рассчитывайте и создавайте рецепт или копируйте понравившийся и изменяйте под себя.</p>
    <p class="">Делитесь с друзьями и коллегами. Распечатывайте. Варите пиво.</p>
    <p class="">Подключайте устройства и контролируйте брожение удалённо.</p>
    <p class=""></p>
    <p class="">Сайт находится на этапе развития с постоянным появлением нового функционала.</p>
    <p class="">Далее будет интереснее.</p>
    <hr class="my-4">
    <div class="d-flex justify-content-between">
      <a class="btn btn-secondary" href="{% url 'recipes_public_list' %}">Наши рецепты</a>
      <a class="btn btn-secondary" href="{% url 'login' %}">Войти</a>
    </div>
  </div>
</div>