{% extends 'index.html' %}
{% load static %}

{% block seo %}
  <title>Вход на сайт</title>
  <meta name="description" content="Авторизация на сайте BrewingNotes.ru"/>
  <meta name="keywords" content="рецепты пива, домашнее пиво рецепт, рецепт для новичков, простой рецепт пива, мастер рецептов, рассчитать рецепт, BrewPiLess, iSpindel, BPL, поделиться рецептом, BeerXML, база рецептов пива, стили пива, ингредиенты пива, справочник солода, справочник хмеля, справочник дрожжей, домашнее пиво, крафтовое пиво,  домашнее пивоварение, ячмень, солод, дрожжи, хмель, лагер, эль, зерновое пиво, пилснер, венское пиво, пшеничное пиво, светлый эль, витбир, янтарный эль, коричневый эль, стаут, портер, ипа, неипа, апа, NEIPA, IPA, APA, stout, RIS"/>
{% endblock %}

{% block auth %}
<div id="login-signup-modal" class="modal fade in" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="login-modal-content">
      <div class="modal-header">
        <h4>Вход</h4>
        <a class="btn-link" href="{% url 'main' %}"><i class="material-icons">&#xe5cd;</i></a>
      </div>
      <div class="modal-body">
        <form id="login-form" class="form-horizontal" method="post">{% csrf_token %}
          <div class="form-group">
          {{ form.non_field_errors }}
          </div>
          <div class="form-group">
            {{ form.username.errors }}
            <label for="{{ form.username.id_for_label }}">Имя пользователя:</label>
            {{ form.username }}
          </div>
          <div class="form-group">
            <label for="{{ form.password.id_for_label }}">Пароль:</label>
            {{ form.password }}
          </div>
          <div class="form-group">
            <button form="login-form" type="submit" class="btn btn-secondary btn-block">Войти</button>
          </div>
        </form>
        <div class="form-group forgot-pass">
          <a class="btn btn-link mr-4" href="{% url 'restore' %}"><small>Забыли пароль?</small></a>
          <a class="btn btn-link" href="{% url 'registration' %}"><small>Регистрация</small></a>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#login-signup-modal').modal('show');
  });
</script>
{% endblock %}

