{% extends 'admn/admn_base.html' %}
{% load brew core %}

{% block content %}
<div class="row main-body mb-2 py-3">
  <div class="col-12 mb-3 text-center">
    <h3 class="">Рецепты</h3>
  </div>
  <div class="col-12 col-sm-6 col-md-4 mb-3">
    <form>
      <div class="input-group">
        <select class="custom-select" name="filter">
          <option {% if not request.GET.tp %}selected{% endif %} value="">-- Статус --</option>
          {% for s in status %}
          <option {% if request.GET.filter == s.0|stringformat:"i" %}selected{% endif %} value="{{ s.0 }}">{{ s.1 }}</option>
          {% endfor %}
        </select>
        <div class="input-group-append">
          <button type="submit" class="btn btn-secondary" type="button">Выбрать</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 col-sm-6 col-md-4 px-sm-3 mb-3">
    <form>
      <div class="input-group">
        <input type="text" class="custom-select" placeholder="Поиск рецепта.." name="search">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="submit">Поиск</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col mr-sm-3 mb-3">
  {% include 'blocks/paginator.html' %}
  </div>
  <div class="col-12 p-0 p-sm-3">
    <div class="table-div">
      <table class="table table-list mb-0">
        <thead class="thead">
          <tr>
            <th scope="col"><a class="link" href="?{% url_replace view.request 'order_by' 'name' '-' %}">Название</a></th>
            <th class="d-none d-md-table-cell" scope="col"><a class="link" href="?{% url_replace view.request 'order_by' 'style' '-' %}">Стиль</a></th>
            <th scope="col"><a class="link" href="?{% url_replace view.request 'order_by' 'user' '-' %}" title="Пользователь"><i class="material-icons align-bottom">&#xe7fd;</i></a></th>
            <th class="d-none d-lg-table-cell text-center" scope="col"><i class="material-icons align-bottom" title="Свойства рецепта">fact_check</i></th>
            <th scope="col"><a class="link" href="?{% url_replace view.request 'order_by' 'status' '-' %}" title="Статус">Статус</a></th>
            <th class="d-none d-lg-table-cell" scope="col"><a class="link" href="?{% url_replace view.request 'order_by' 'created_date' '-' %}" title="Создан"><i class="material-icons align-bottom">&#xe916;</i></a></th>
          </tr>
        </thead>
        <tbody class="tbody-transporent">
        {% for recipe in object_list %}
          <tr>
            <td><a class="link" href="{% url 'admn_recipe_one' recipe.slug %}">{{ recipe.name }}</a></td>
            <td class="d-none d-md-table-cell">{{ recipe.style|default_if_none:'' }}</td>
            <td><a class="link" href="{% url 'admn_user_one' recipe.user.username %}">{{ recipe.user }}</a></td>
            <td class="d-none d-lg-table-cell">
              {% if recipe.status == 3 and recipe.matches_style %}
              <i class="material-icons align-bottom green" title="Рецепт соответствуют выбранному стилю">verified</i>
              {% elif recipe.matches_style %}
              <i class="material-icons align-bottom green" title="Параметры рецепта соответствуют выбранному стилю">verified</i>
              {% else %}
              <i class="material-icons align-bottom yellow" title="Рецепт не соответствует выбранному стилю">report</i>
              {% endif %}
              {% if recipe.сonformity == 1 %}
              <i class="material-icons align-bottom сonformity-1" title="Обычный рецепт">people</i>
              {% elif recipe.сonformity == 2 %}
              <i class="material-icons align-bottom сonformity-2" title="Классический рецепт">history_edu</i>
              {% elif recipe.сonformity == 3 %}
              <i class="material-icons align-bottom сonformity-3" title="Рецепт для новичков">child_friendly</i>
              {% else %}
              <i class="material-icons align-bottom сonformity-{{ recipe.сonformity }}" title="Не определено">sentiment_neutral</i>
              {% endif %}
            </td>
            <td>{{ recipe.get_status_display }}</td>
            <td class="d-none d-lg-table-cell">{{ recipe.created_date|date:"d.m.Y" }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% include 'blocks/paginator.html' %}
{% endblock %}