<div class="row main-body mb-2">
  <div class="col-12">
    <div class="text-center py-2 ">
      <a class="link green h5" data-toggle="modal" data-target="#modal-donates" title="Поддержать сайт">Поддержать сайт <i class="material-icons align-bottom ml-1">payments</i></a>
      <div class="collapse mx-3" id="collapseDonates">
        <div class="d-flex justify-content-center">
          <div class="w-50">
            <iframe src="https://yoomoney.ru/quickpay/shop-widget?writer=seller&targets=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%BA%D0%B0%20%D1%81%D0%B0%D0%B9%D1%82%D0%B0%20BrewingNotes.ru&targets-hint=&default-sum=&button-text=14&payment-type-choice=on&hint=&successURL=https%3A%2F%2Fbrewingnotes.ru&quickpay=shop&account=4100117197558528&" width="100%" height="226" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>