<div class="col-12 mb-3">
  <h5 class="link" data-toggle="collapse" href="#collapseRules" role="button" aria-expanded="false" aria-controls="collapseRules">Правила оформления ингредиента</h5>
  <div id="collapseRules" class="collapse">
    <p>Оформление ингредиента должно вводиться в одном стиле. Максимально заполнены все характеристики данного ингредиента. Указана ссылка на источник откуда бралась информация по Ингредиенту. Подробное (если возможно) описание и уточнения по работе с ингредиентом его уточняющие характеристики и т. д.).</p>
    <p>Требование к названию:</p>
    <p>Название Ингредиента должно  оформляться в едином стиле. Начинаться название должно с заглавной буквы. Только официальное название. Не допускаются названия набранные полностью в верхнем регистре (если это не аббревиатура), а так же полностью в нижнем регистре или с пропущенными пробелами. Допускается для выделении характеристики в названии указывать с заглавной буквы.</p>
    <p>Если Ингредиент зарубежного производителя то:</p>
    <p><strong><i>«Английское название с большой буквы», пробел, прямой слэш (косая черта), пробел, «Русское название с большой буквы».</i></strong></p>
    <p>Например:</p>
    <p><strong>Crystal Rye / Ржаной кристаллический</strong></p>
    <p>Для выделения акцента на характеристику в названии Ингредиента допускается выделение ее заглавной буквой:</p>
    <p><strong>German Pilsen / Немецкий Пильзнер</strong></p>
    <p><strong>Hallertau Blanc / Халлертау Бланк</strong></p>
    <p><strong>Irish Ale / Ирландский Эль</strong></p>
    <p>Если Ингредиент Отечественного производства то указывается название кириллицей, а в скобках или через слэш уточнения для более конкретной идентификации. Например:</p>
    <p><strong>Ортофосфорная кислота (10%)</strong></p>
    <p><strong>Мел / Карбонат кальция (CaCO3)</strong></p>
    <p><strong>Сахар столовый</strong></p>
    <p><strong>Карамельный 100</strong></p>
  </div>
</div>