<div class="row">
  <div class="col-12 px-0">
    <div class="alert alert-dismissible alert-success fade show mb-2 py-2" role="alert" style="color: rgba(52, 58, 64, 0.95);">
      <a class="link" href="{% url 'user_detail' user.username %}" style="color: rgba(52, 58, 64, 0.95);">Попробовать <strong>Премиум</strong><i class="material-icons align-bottom ml-1">workspace_premium</i> доступ</a>
      <a class="link close py-2" data-toggle="modal" data-target="#modal-refusal-trial"><span>&times;</span></a>
    </div>
  </div>
</div>