{% extends 'catalog/base_catalog.html' %}
{% load brew %}

{% block page_title %}Сбраживаемые добавки для пива{% endblock %}

{% block content %}
{% if user.is_editor %}
<div class="row mb-2">
  <div class="col px-sm-0 d-flex justify-content-end">
    <a class="btn btn-secondary btn-sm" href="{% url 'ferm_add' %}" title="Добавить ингредиент">Добавить ингредиент</a>
  </div>
</div>
{% endif %}
{% include 'catalog/block_filter.html' %}
{% include 'blocks/paginator.html' %}
<div class="row main-body mb-2">
  <div class="col p-0 p-sm-3">
    <div class="table-div">
      <table class="table table-list mb-0">
        <thead class="thead">
          <tr>
            <th class="d-none d-lg-table-cell" scope="col"><a class="link" href="?{% url_replace view.request 'order_by' 'type' '-' %}">Категория</a></th>
            <th scope="col"><a class="link" href="?{% url_replace view.request 'order_by' 'name' '-' %}">Название</a></th>
            <th class="d-none d-sm-table-cell" scope="col"><a class="link" href="?{% url_replace view.request 'order_by' 'company' '-' %}">Фирма</a></th>
            <th class="d-none d-lg-table-cell" scope="col">Страна</th>
            <th scope="col" title="Экстрактивность, %">Э,%</th>
            <th scope="col" title="Цвет, &deg;L">&deg;L</th>
          </tr>
        </thead>
        <tbody class="tbody-transporent">
        {% for ferm in object_list %}
          <tr>
            <td class="d-none d-lg-table-cell" >{{ ferm.get_type_display }}</td>
            <td><a class="link" href="{% url 'ferm_one' ferm.slug %}">{{ ferm.name }}</a></td>
            <td class="d-none d-sm-table-cell">{{ ferm.company|default_if_none:'---' }}</td>
            <td class="d-none d-lg-table-cell" >{{ ferm.country|default_if_none:'---' }}</td>
            <td>{{ ferm.extractivity }}</td>
            <td>{{ ferm.color }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% include 'blocks/paginator.html' %}
{% endblock %}