{% extends 'catalog/base_catalog.html' %}
{% load brew %}

{% block page_title %}Хмель для пива{% endblock %}

{% block content %}
{% if user.is_editor %}
<div class="row mb-2">
  <div class="col px-sm-0 d-flex justify-content-end">
    <a class="btn btn-secondary btn-sm" href="{% url 'hop_add' %}" title="Добавить ингредиент">Добавить ингредиент</a>
  </div>
</div>
{% endif %}
{% include 'catalog/block_filter.html' %}
{% include 'blocks/paginator.html' %}
<div class="row main-body mb-2">
  <div class="col p-0 p-sm-3">
    <div class="table-div">
      <table class="table table-list mb-0">
        <thead class="thead">
          <tr>
            <th class="d-none d-lg-table-cell" scope="col"><a class="link" href="?{% url_replace view.request 'order_by' 'type' '-' %}">Категория</a></th>
            <th scope="col"><a class="link" href="?{% url_replace view.request 'order_by' 'name' '-' %}">Название</a></th>
            <th class="d-none d-sm-table-cell" scope="col"><a class="link" href="?{% url_replace view.request 'order_by' 'company' '-' %}">Фирма</a></th>
            <th class="d-none d-lg-table-cell" scope="col"><a class="link" href="?{% url_replace view.request 'order_by' 'country' '-' %}">Страна</a></th>
            <th scope="col"><a class="link" href="?{% url_replace view.request 'order_by' 'alfa_acid' '-' %}" title="Альфа кислота, %">&alpha;, %</a></th>
          </tr>
        </thead>
        <tbody class="tbody-transporent">
        {% for hop in object_list %}
          <tr>
            <td class="d-none d-lg-table-cell">{{ hop.get_type_display }}</td>
            <td><a class="link" href="{% url 'hop_one' hop.slug %}">{{ hop.name }}</a></td>
            <td class="d-none d-sm-table-cell">{{ hop.company|default_if_none:'---' }}</td>
            <td class="d-none d-lg-table-cell">{{ hop.country|default_if_none:'---' }}</td>
            <td>{{ hop.alfa_acid }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% include 'blocks/paginator.html' %}
{% endblock %}