{% extends 'catalog/base_catalog.html' %}
{% load brew %}

{% block page_title %}Профили воды для пива{% endblock %}

{% block content %}
{% if user.is_editor %}
<div class="row mb-2">
  <div class="col px-sm-0 d-flex justify-content-end">
    <a class="btn btn-secondary btn-sm" href="{% url 'water_add' %}" title="Добавить профиль">Добавить профиль</a>
  </div>
</div>
{% endif %}
<div class="row main-body mb-2">
  <div class="col p-0 p-sm-3">
    <div class="table-div">
      <table class="table table-list mb-0">
        <thead class="thead">
          <tr>
            <th>Название</th>
            <th class="w50px d-none d-md-table-cell" title="">Ca<sup>+2</sup></th>
            <th class="w50px d-none d-md-table-cell" title="">Mg<sup>+2</sup></th>
            <th class="w50px d-none d-md-table-cell" title="">Na<sup>+</sup></th>
            <th class="w50px d-none d-md-table-cell" title="">SO<sub>4</sub><sup>-2</sup></th>
            <th class="w50px d-none d-md-table-cell" title="">Cl<sup>-</sup></th>
            <th class="w50px d-none d-md-table-cell" title="">HCO<sub>3</sub><sup>-</sup></th>
          </tr>
        </thead>
        <tbody class="tbody-transporent">
        {% for w in object_list %}
          <tr>
            <td><a class="link" href="{% url 'water_one' w.slug %}">{{ w.name }}</a></td>
            <td class="w50px d-none d-md-table-cell">{{ w.calcum }}</td>
            <td class="w50px d-none d-md-table-cell">{{ w.magnesium }}</td>
            <td class="w50px d-none d-md-table-cell">{{ w.sodium }}</td>
            <td class="w50px d-none d-md-table-cell">{{ w.sulfate }}</td>
            <td class="w50px d-none d-md-table-cell">{{ w.chloride }}</td>
            <td class="w50px d-none d-md-table-cell">{{ w.bicarbonate }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% include 'blocks/paginator.html' %}
{% endblock %}